# Q1

In [1]:
import pandas as pd
df = pd.read_csv("galaxy_users.csv")

In [2]:
df.shape

(7032, 21)

In [3]:
df.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

df_Q1 = df.loc[:,"OnlineSecurity": "StreamingMovies"]

df_q1= df_q1.replace({"Yes":1, "No":0})

df_q1.apply(lambda x: x.unique())

## replace 이후에 dropna로 처리해도 된다.

In [104]:
voc_list = ["OnlineSecurity","OnlineBackup","DeviceProtection","TechSupport","StreamingTV","StreamingMovies"]
df_Q1 = df[["customerID","OnlineSecurity","OnlineBackup","DeviceProtection","TechSupport","StreamingTV","StreamingMovies"]]

for n in voc_list:
    df_Q1 = df_Q1.loc[(df_Q1[n]== "Yes") |(df_Q1[n]== "No"),: ]

In [105]:
df_Q1.shape

(5512, 7)

In [106]:
df_Q1["cnt"] = 0

In [107]:
for n in voc_list:
    df_Q1["cnt"] = ((df_Q1[n] == "Yes")+0) + df_Q1["cnt"]

In [108]:
df_Q1["cnt"].value_counts()

3    1117
2    1033
1     966
4     850
0     693
5     569
6     284
Name: cnt, dtype: int64

In [26]:
round(966/284, 1)

3.4

# Q2

In [29]:
import pandas as pd
df = pd.read_csv("galaxy_users.csv")

In [30]:
df.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [109]:
df_Q2 = df.copy()

## 몫은 //로 처리해야 한다.

In [117]:
df_Q2["통신사 사용 월수"] = df_Q2["TotalCharges"] // df_Q2["MonthlyCharges"]

In [118]:
df_Q2["통신사 사용 월수"]

0        1.0
1       33.0
2        2.0
3       43.0
4        2.0
        ...
7027    23.0
7028    71.0
7029    11.0
7030     4.0
7031    64.0
Name: 통신사 사용 월수, Length: 7032, dtype: float64

In [120]:
df_Q2[["tenure","MonthlyCharges","통신사 사용 월수"]].corr().abs().round(3)

                tenure  MonthlyCharges  통신사 사용 월수
tenure           1.000           0.247      0.999
MonthlyCharges   0.247           1.000      0.246
통신사 사용 월수        0.999           0.246      1.000

In [112]:
round(0.998831, 3)

0.999

# Q3

In [53]:
df_Q3 = df.copy()
df_Q3.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

```
독립변수
시니어 여부           "SeniorCitizen"   -- 1,0
파트너 존재 여부      "Partner"         -- Yes, No
부양가족 존재 여부    "Dependents"      -- Yes, No 
현 직장 근속 개월 수  "tenure"         -- int
월별 청구 금액        "MonthlyCharges"  -- float
누적 청구 금액        "TotalCharges"    -- float
온라인 보안 서비스    "OnlineSecurity"   -- Yes, No
온라인 백업 서비스    "OnlineBackup"     -- Yes, No
기기 보호 서비스      "DeviceProtection"  -- Yes, No
기술 지원 서비스      "TechSupport"       -- Yes, No
영화 스트리밍 서비스     "StreamingMovies"  -- Yes, No
온라인 명세서 발급 서비스  "PaperlessBilling"  -- Yes, No 

종속 변수
고객 이탈 여부           "Churn"  -- Yes(이탈), No(잔존)
```

In [84]:
indep_l = ["SeniorCitizen","Partner","Dependents","tenure","MonthlyCharges","TotalCharges"
          , "OnlineSecurity","OnlineBackup", "DeviceProtection", "TechSupport", "StreamingMovies",
          "PaperlessBilling"]
dfp_l = "Churn" 

all_l = ["SeniorCitizen","Partner","Dependents","tenure","MonthlyCharges","TotalCharges"
          , "OnlineSecurity","OnlineBackup", "DeviceProtection", "TechSupport", "StreamingMovies",
          "PaperlessBilling", "Churn" ]

### 사용 팁
indep_l = ["SeniorCitizen","Partner","Dependents","tenure","MonthlyCharges","TotalCharges"
          , "OnlineSecurity","OnlineBackup", "DeviceProtection", "TechSupport", "StreamingMovies",
          "PaperlessBilling"]    
dep_l = ["Churn" ]

df[dep_l + indep_l]

In [122]:
# df_Q3["Partner"]

## 사용팁 
df_q3 = df_q3.replace({"Yes":1, "No":0})    
df_q3 = df_q3.replace({"No internet service": -1})    (여러개 넣어도 된다. replace는 )

df_q3_cat = df_q3.select_dtypes(exclude = "number")    
df_q3_cat.head(2)  

df_q3_cat.apply(lambda x: x.unique())  #각 column별 unique를 볼수 있다.

In [88]:
ll = ["Partner","Dependents", "OnlineSecurity","OnlineBackup", "DeviceProtection", "TechSupport", "StreamingMovies", "PaperlessBilling", "Churn"]

def change(x):
    if(x == "Yes"):
        return 1
    elif(x == "No"):
        return 0
    else:
        return -1
    
for n in ll:
    df_Q3[n] = df_Q3[n].apply(change)

In [89]:
df_Q3.shape

(7032, 21)

In [90]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import f1_score

In [123]:
train, test = train_test_split(df_Q3, train_size= 0.7, random_state=123)
len(train), len(test)

(4922, 2110)

In [92]:
MM = MinMaxScaler().fit(train[all_l])

In [124]:
MM.data_max_

array([ 1.0000e+00, -1.0000e+00, -1.0000e+00,  7.2000e+01,  1.1875e+02,
        8.6848e+03, -1.0000e+00, -1.0000e+00, -1.0000e+00, -1.0000e+00,
       -1.0000e+00, -1.0000e+00,  1.0000e+00])

In [125]:
MM.data_min_

array([ 0. , -1. , -1. ,  1. , 18.4, 18.8, -1. , -1. , -1. , -1. , -1. ,
       -1. ,  0. ])

In [126]:
MM.data_range_

array([1.0000e+00, 0.0000e+00, 0.0000e+00, 7.1000e+01, 1.0035e+02,
       8.6660e+03, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
       0.0000e+00, 0.0000e+00, 1.0000e+00])

In [93]:
train_mm = MM.transform(train[all_l])

In [95]:
train_mm = pd.DataFrame(train_mm, columns=all_l)

In [96]:
train_mm

,SeniorCitizen,Partner,Dependents,tenure,MonthlyCharges,TotalCharges,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingMovies,PaperlessBilling,Churn
0,0.0,0.0,0.0,0.084507,0.811161,0.075519,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.0,0.0,0.0,0.000000,0.607374,0.006987,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.0,0.0,0.0,0.366197,0.304933,0.146844,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.0,0.0,0.647887,0.519681,0.379697,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.0,0.0,0.0,1.000000,0.063777,0.214113,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4917,0.0,0.0,0.0,0.084507,0.775286,0.071648,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4918,0.0,0.0,0.0,0.943662,0.609865,0.634318,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4919,0.0,0.0,0.0,0.140845,0.020429,0.026771,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4920,0.0,0.0,0.0,0.661972,0.813652,0.555643,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4921,0.0,0.0,0.0,0.112676,0.504733,0.073292,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [97]:
test_mm = MM.transform(test[all_l])

In [98]:
test_mm = pd.DataFrame(test_mm, columns=all_l)

In [99]:
test_mm

,SeniorCitizen,Partner,Dependents,tenure,MonthlyCharges,TotalCharges,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingMovies,PaperlessBilling,Churn
0,0.0,0.0,0.0,0.478873,0.017937,0.076806,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.239437,0.572995,0.156272,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.901408,0.844544,0.781635,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.676056,0.377678,0.318694,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.507042,0.808171,0.431941,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2105,1.0,0.0,0.0,0.985915,0.805182,0.830250,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2106,0.0,0.0,0.0,0.028169,0.550075,0.024660,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2107,0.0,0.0,0.0,0.028169,0.019930,0.005118,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2108,0.0,0.0,0.0,0.084507,0.018435,0.012734,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2109,0.0,0.0,0.0,0.633803,0.008470,0.097554,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [127]:
model = LogisticRegression(random_state=123).fit(X=train_mm[indep_l], y = train_mm[dfp_l])

In [128]:
pred = model.predict(X=test_mm[indep_l])

In [129]:
round(f1_score(y_true = test_mm[dfp_l], y_pred=pred),2)

0.55