In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("edu_enrollees.csv")

In [3]:
df.columns

Index(['enrollee_id', 'city', 'city_development_index', 'gender',
       'relevant_experience', 'enrolled_university', 'education_level',
       'major_discipline', 'experience', 'company_size', 'company_type',
       'last_new_job', 'training_hours', 'target', 'Xgrp'],
      dtype='object')

In [5]:
df1 = df.drop(columns=["city","company_size","company_type"])
df1.columns

Index(['enrollee_id', 'city_development_index', 'gender',
       'relevant_experience', 'enrolled_university', 'education_level',
       'major_discipline', 'experience', 'last_new_job', 'training_hours',
       'target', 'Xgrp'],
      dtype='object')

In [9]:
df1d = df1.dropna()

In [11]:
df1d.columns

Index(['enrollee_id', 'city_development_index', 'gender',
       'relevant_experience', 'enrolled_university', 'education_level',
       'major_discipline', 'experience', 'last_new_job', 'training_hours',
       'target', 'Xgrp'],
      dtype='object')

In [17]:
df11 = df1d.loc[~((df1d["experience"] == ">20") | (df1d["experience"] == "<1")),:]
df11["experience"]=df11["experience"].astype("int")
df11.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9653 entries, 1 to 19154
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             9653 non-null   float64
 1   city_development_index  9653 non-null   float64
 2   gender                  9653 non-null   object
 3   relevant_experience     9653 non-null   object
 4   enrolled_university     9653 non-null   object
 5   education_level         9653 non-null   object
 6   major_discipline        9653 non-null   object
 7   experience              9653 non-null   int32
 8   last_new_job            9653 non-null   object
 9   training_hours          9653 non-null   float64
 10  target                  9653 non-null   float64
 11  Xgrp                    9653 non-null   object
dtypes: float64(4), int32(1), object(7)
memory usage: 942.7+ KB

C:\Users\younl\AppData\Local\Temp/ipykernel_20864/2272566391.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df11["experience"]=df11["experience"].astype("int")

In [19]:
df11["last_new_job"].unique()

array(['>4', '1', '2', '3', 'never', '4'], dtype=object)

In [20]:
df12 = df11.loc[~((df11["last_new_job"] == ">4") | (df11["last_new_job"] == "never")),:]
df12["last_new_job"] = df12["last_new_job"].astype("int")
df12.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7522 entries, 8 to 19154
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             7522 non-null   float64
 1   city_development_index  7522 non-null   float64
 2   gender                  7522 non-null   object
 3   relevant_experience     7522 non-null   object
 4   enrolled_university     7522 non-null   object
 5   education_level         7522 non-null   object
 6   major_discipline        7522 non-null   object
 7   experience              7522 non-null   int32
 8   last_new_job            7522 non-null   int32
 9   training_hours          7522 non-null   float64
 10  target                  7522 non-null   float64
 11  Xgrp                    7522 non-null   object
dtypes: float64(4), int32(2), object(6)
memory usage: 705.2+ KB

C:\Users\younl\AppData\Local\Temp/ipykernel_20864/3231567107.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df12["last_new_job"] = df12["last_new_job"].astype("int")

In [21]:
df_base = df12.copy()
df_base.shape

(7522, 12)

In [22]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier

# Q1

In [23]:
df_base.columns

Index(['enrollee_id', 'city_development_index', 'gender',
       'relevant_experience', 'enrolled_university', 'education_level',
       'major_discipline', 'experience', 'last_new_job', 'training_hours',
       'target', 'Xgrp'],
      dtype='object')

In [24]:
df1["relevant_experience"].unique()

array(['Has relevant experience', 'No relevant experience'], dtype=object)

In [25]:
df1 = df_base.copy()
df1a = df1.loc[df1["relevant_experience"] == "No relevant experience", :]
df1b = df1.loc[df1["relevant_experience"] == "Has relevant experience", :]

In [26]:
df1a["target"].value_counts()

0.0    872
1.0    541
Name: target, dtype: int64

In [27]:
df1b["target"].value_counts()

0.0    4790
1.0    1319
Name: target, dtype: int64

In [28]:
A = 541/(872+541)
B = 1319 / (1319 +4790 )
print(A, B)

0.38287331917905165 0.21591095105581928

In [29]:
round(A/B, 2)

1.77

In [85]:
df1a["target"].value_counts(normalize=True)

0.0    0.617127
1.0    0.382873
Name: target, dtype: float64

In [86]:
df1b["target"].value_counts(normalize=True)

0.0    0.784089
1.0    0.215911
Name: target, dtype: float64

In [87]:
df_base.groupby("relevant_experience")["target"].mean()

relevant_experience
Has relevant experience    0.215911
No relevant experience     0.382873
Name: target, dtype: float64

# Q2

In [31]:
df2 = df_base.copy()

In [33]:
df2.columns

Index(['enrollee_id', 'city_development_index', 'gender',
       'relevant_experience', 'enrolled_university', 'education_level',
       'major_discipline', 'experience', 'last_new_job', 'training_hours',
       'target', 'Xgrp'],
      dtype='object')

In [34]:
df2d = pd.get_dummies(df2, columns=["gender","relevant_experience","enrolled_university","education_level","major_discipline"])

In [36]:
df2d.columns

Index(['enrollee_id', 'city_development_index', 'experience', 'last_new_job',
       'training_hours', 'target', 'Xgrp', 'gender_Female', 'gender_Male',
       'gender_Other', 'relevant_experience_Has relevant experience',
       'relevant_experience_No relevant experience',
       'enrolled_university_Full time course',
       'enrolled_university_Part time course',
       'enrolled_university_no_enrollment', 'education_level_Graduate',
       'education_level_Masters', 'education_level_Phd',
       'major_discipline_Arts', 'major_discipline_Business Degree',
       'major_discipline_Humanities', 'major_discipline_No Major',
       'major_discipline_Other', 'major_discipline_STEM'],
      dtype='object')

In [37]:
df2dd = df2d.drop(columns=["gender_Other","relevant_experience_No relevant experience",
                          "enrolled_university_no_enrollment","education_level_Phd","major_discipline_STEM"])

In [40]:
df2dd.columns

Index(['enrollee_id', 'city_development_index', 'experience', 'last_new_job',
       'training_hours', 'target', 'Xgrp', 'gender_Female', 'gender_Male',
       'relevant_experience_Has relevant experience',
       'enrolled_university_Full time course',
       'enrolled_university_Part time course', 'education_level_Graduate',
       'education_level_Masters', 'major_discipline_Arts',
       'major_discipline_Business Degree', 'major_discipline_Humanities',
       'major_discipline_No Major', 'major_discipline_Other'],
      dtype='object')

In [41]:
job2 = df2dd[["city_development_index","experience","last_new_job","training_hours",
              'gender_Female', 'gender_Male',
       'relevant_experience_Has relevant experience',
       'enrolled_university_Full time course',
       'enrolled_university_Part time course', 'education_level_Graduate',
       'education_level_Masters', 'major_discipline_Arts',
       'major_discipline_Business Degree', 'major_discipline_Humanities',
       'major_discipline_No Major', 'major_discipline_Other','target', 'Xgrp']]

In [42]:
job2.columns

Index(['city_development_index', 'experience', 'last_new_job',
       'training_hours', 'gender_Female', 'gender_Male',
       'relevant_experience_Has relevant experience',
       'enrolled_university_Full time course',
       'enrolled_university_Part time course', 'education_level_Graduate',
       'education_level_Masters', 'major_discipline_Arts',
       'major_discipline_Business Degree', 'major_discipline_Humanities',
       'major_discipline_No Major', 'major_discipline_Other', 'target',
       'Xgrp'],
      dtype='object')

In [43]:
indep_l = ['city_development_index', 'experience', 'last_new_job',
       'training_hours', 'gender_Female', 'gender_Male',
       'relevant_experience_Has relevant experience',
       'enrolled_university_Full time course',
       'enrolled_university_Part time course', 'education_level_Graduate',
       'education_level_Masters', 'major_discipline_Arts',
       'major_discipline_Business Degree', 'major_discipline_Humanities',
       'major_discipline_No Major', 'major_discipline_Other']

dep_l = "target"

In [88]:
model = LogisticRegression(C=100000, max_iter=1000, solver='liblinear', random_state=123).fit(X= job2[indep_l], y = job2[dep_l])

In [92]:
model.coef_

array([[-6.13150412e+00, -2.81691230e-02,  9.57803375e-02,
        -9.23704557e-04, -1.51500286e-01, -1.12275190e-01,
        -7.65620657e-01,  5.15864255e-01, -2.76402260e-01,
         3.53035498e-01,  4.83728703e-02,  3.10439212e-01,
         1.23016826e-01,  2.65788411e-01,  4.22318992e-01,
        -4.34692489e-01]])

In [93]:
np.exp(model.coef_).max()

1.6750855768802067

In [82]:
import pandas as pd
from statsmodels.api import Logit

model = Logit(exog = job2[indep_l], endog = job2[dep_l], data = job2).fit()

Optimization terminated successfully.
         Current function value: 0.487791
         Iterations 6

In [83]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                 target   No. Observations:                 7522
Model:                          Logit   Df Residuals:                     7506
Method:                           MLE   Df Model:                           15
Date:                Thu, 01 Jun 2023   Pseudo R-squ.:                  0.1279
Time:                        16:15:05   Log-Likelihood:                -3669.2
converged:                       True   LL-Null:                       -4207.2
Covariance Type:            nonrobust   LLR p-value:                6.453e-220
===============================================================================================================
                                                  coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------------------------------------
city_development_index                         -5.4749      0.224    -24.437      0.000      -5.914      -5.036
experience                                     -0.0267      0.007     -3.826      0.000      -0.040      -0.013
last_new_job                                    0.1103      0.032      3.475      0.001       0.048       0.172
training_hours                                 -0.0007      0.000     -1.462      0.144      -0.002       0.000
gender_Female                                   1.5551      0.375      4.152      0.000       0.821       2.289
gender_Male                                     1.5731      0.365      4.306      0.000       0.857       2.289
relevant_experience_Has relevant experience    -0.7187      0.075     -9.590      0.000      -0.866      -0.572
enrolled_university_Full time course            0.5585      0.076      7.361      0.000       0.410       0.707
enrolled_university_Part time course           -0.2491      0.118     -2.109      0.035      -0.481      -0.018
education_level_Graduate                        2.3809      0.381      6.256      0.000       1.635       3.127
education_level_Masters                         2.0724      0.384      5.395      0.000       1.320       2.825
major_discipline_Arts                           0.2497      0.239      1.044      0.297      -0.219       0.719
major_discipline_Business Degree                0.1115      0.221      0.505      0.613      -0.321       0.544
major_discipline_Humanities                     0.2265      0.149      1.520      0.129      -0.066       0.518
major_discipline_No Major                       0.4057      0.246      1.652      0.099      -0.076       0.887
major_discipline_Other                         -0.4158      0.220     -1.887      0.059      -0.848       0.016
===============================================================================================================
"""

In [84]:
model.params

city_development_index                        -5.474888
experience                                    -0.026701
last_new_job                                   0.110258
training_hours                                -0.000706
gender_Female                                  1.555077
gender_Male                                    1.573086
relevant_experience_Has relevant experience   -0.718748
enrolled_university_Full time course           0.558526
enrolled_university_Part time course          -0.249100
education_level_Graduate                       2.380947
education_level_Masters                        2.072408
major_discipline_Arts                          0.249691
major_discipline_Business Degree               0.111522
major_discipline_Humanities                    0.226474
major_discipline_No Major                      0.405743
major_discipline_Other                        -0.415833
dtype: float64

# !!!! odd ratio는 모르겠다 ㅜㅜ

# Q3

In [60]:
df3 = job2.copy()

In [62]:
train = df3.loc[(df3["Xgrp"] == "train"), :]
test = df3.loc[(df3["Xgrp"] == "test"), :]
len(train), len(test)

(4706, 2816)

In [63]:
len(train.columns)

18

In [64]:
indep_l = ['city_development_index', 'experience', 'last_new_job',
       'training_hours', 'gender_Female', 'gender_Male',
       'relevant_experience_Has relevant experience',
       'enrolled_university_Full time course',
       'enrolled_university_Part time course', 'education_level_Graduate',
       'education_level_Masters', 'major_discipline_Arts',
       'major_discipline_Business Degree', 'major_discipline_Humanities',
       'major_discipline_No Major', 'major_discipline_Other']

dep_l = "target"

In [65]:
model = KNeighborsClassifier(n_neighbors=5).fit(X=train[indep_l], y = train[dep_l])

In [67]:
pred = model.predict(test[indep_l])

In [68]:
test["pred"] = pred
result = test[["target","pred"]]

C:\Users\younl\AppData\Local\Temp/ipykernel_20864/1701815707.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test["pred"] = pred

In [94]:
pd.crosstab(result["target"],result['pred'])

pred     0.0  1.0
target
0.0     1897  195
1.0      616  108

In [96]:
from sklearn.metrics import accuracy_score
round(accuracy_score(y_true = result["target"], y_pred = result["pred"]),2)

0.71

In [69]:
result

       target  pred
12001     0.0   0.0
12002     1.0   0.0
12003     0.0   0.0
12004     0.0   0.0
12008     0.0   0.0
...       ...   ...
19149     1.0   0.0
19150     0.0   0.0
19152     0.0   0.0
19153     1.0   0.0
19154     1.0   0.0

[2816 rows x 2 columns]

In [70]:
result["TP"] = ((result["target"] == result["pred"]) & (result["pred"]==1))+0
result["TN"] = ((result["target"] == result["pred"]) & (result["pred"]==0))+0

C:\Users\younl\AppData\Local\Temp/ipykernel_20864/800138717.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result["TP"] = ((result["target"] == result["pred"]) & (result["pred"]==1))+0
C:\Users\younl\AppData\Local\Temp/ipykernel_20864/800138717.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result["TN"] = ((result["target"] == result["pred"]) & (result["pred"]==0))+0

In [71]:
result.head()

       target  pred  TP  TN
12001     0.0   0.0   0   1
12002     1.0   0.0   0   0
12003     0.0   0.0   0   1
12004     0.0   0.0   0   1
12008     0.0   0.0   0   1

In [76]:
result["TP"].value_counts()

0    2708
1     108
Name: TP, dtype: int64

In [77]:
result["TN"].value_counts()

1    1897
0     919
Name: TN, dtype: int64

In [80]:
round((108 + 1897 )/result.shape[0], 2)

0.71